[**@totemsdk/kissvm**](../index.md)

***

[@totemsdk/kissvm](../index.md) / VerificationResult

# Interface: VerificationResult

## Properties

### chain?

> `optional` **chain?**: [`ProofChain`](ProofChain.md)

***

### failedAt?

> `optional` **failedAt?**: `number`

***

### reason?

> `optional` **reason?**: `string`

***

### valid

> **valid**: `boolean`
