[**@totemsdk/omnia**](../index.md)

***

[@totemsdk/omnia](../index.md) / AcceptanceRecord

# Interface: AcceptanceRecord

## Properties

### acceptedAt

> **acceptedAt**: `number`

***

### correlationId

> **correlationId**: `string`

***

### message

> **message**: [`OmniaMessage`](OmniaMessage.md)

***

### partyId

> **partyId**: `string`
