[**@totemsdk/core**](../index.md)

***

[@totemsdk/core](../index.md) / VerificationResult

# Interface: VerificationResult

## Properties

### error?

> `optional` **error?**: `string`

***

### valid

> **valid**: `boolean`
